<p>
  <strong>Title:</strong>
  <%= skill.title %>
</p>
 
<p>
  <strong>Level:</strong>
  <%= skill.level %>
</p>



<p>
  <%= link_to 'Destroy Skill', [skill.resume, skill],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>